<h1 id="tableLabel">Products</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>ImgUrl</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.Name }}</td>
      <td>{{ product.Description }}</td>
      <td>{{ product.ImgUrl }}</td>
      <td>{{ product.Price }}</td>
    </tr>
  </tbody>
</table>
