<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 40px;" class="fas fa-shipping-fast">
          &nbsp;

        </i>
        <strong style="font-size: 30px;">WhackTech</strong>
        <div>
          <a class="nav-link text-dark" [routerLink]="['/shop']">Zum Shop</a>
        </div>
        <app-login-menu></app-login-menu>
      </div>
        <button routerLink="cart" class="btn btn-primary">
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
      </div>
</header>
