<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                
                <h2>Alle Produkte</h2>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory">
          <div class="card col-md-auto">
            <img src="{{item.imgURL}}" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
            <p><strong>Preis: </strong>{{item.price}}.-</p>
            <button class="btn btn-primary" (click)=addtocart(item)>In den Warenkorb</button>
            <button class="btn btn-primary" routerLink="{{item.id}}">Details</button>
          </div>
        </ng-container>

    </div>
</div>
